<h1>Hello, <?php echo $user; ?></h1>
<p>Your product is: <?php echo $product; ?></p><!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {% block content %}
    welcome to the dashboard
    {% endblock %}
</body>

</html>